# Annotate images in a Jupyter notebook and save them in  Yolo format
This notebook is a proof of concept using the [jupyter-bbox-widget](https://github.com/gereleth/jupyter-bbox-widget) and PyLabel to created an interactive image labeling tool. Use it to read, edit, and save bounding box annotations to and from multiple annotation formats including coco, voc, and yolo--all withing a Jupyter notebook.

In [1]:
import logging
logging.getLogger().setLevel(logging.CRITICAL)
!pip install pylabel > /dev/null

In [1]:
from pylabel import importer

## Import Yolo annotations 
First we will import annotations stored in Yolo v5 format.

In [2]:
import os, zipfile

#Download sample yolo dataset 
os.makedirs("data", exist_ok=True)
!wget "https://github.com/ultralytics/yolov5/releases/download/v1.0/coco128.zip" -O data/coco128.zip
with zipfile.ZipFile("data/coco128.zip", 'r') as zip_ref:
   zip_ref.extractall("data")

--2021-11-01 21:32:36--  https://github.com/ultralytics/yolov5/releases/download/v1.0/coco128.zip
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github-releases.githubusercontent.com/264818686/7a208a00-e19d-11eb-94cf-5222600cc665?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20211102%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211102T043236Z&X-Amz-Expires=300&X-Amz-Signature=a530a0b0d8e87df9970143b97c649d54bd16f077a5fc0d2af4fe51a9d0385eef&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=264818686&response-content-disposition=attachment%3B%20filename%3Dcoco128.zip&response-content-type=application%2Foctet-stream [following]
--2021-11-01 21:32:36--  https://github-releases.githubusercontent.com/264818686/7a208a00-e19d-11eb-94cf-5222600cc665?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20211102%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211102T043236Z&X-Amz-Expires=300&X-Amz-Signature=a530a0b0d8e87df9970143b97c649d54bd16f077a5fc0d2af4fe51a9d0385eef&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=264818686&response-content-disposition=attachment%3B%20filename%3Dcoco128.zip&response-content-type=application%2Foctet-stream
Resolving github-releases.githubusercontent.com (github-releases.githubusercontent.com)... 185.199.108.154, 185.199.109.154, 185.199.110.154, ...
Connecting to github-releases.githubusercontent.com (github-releases.githubusercontent.com)|185.199.108.154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6984509 (6.7M) [application/octet-stream]
Saving to: ‘data/coco128.zip’

data/coco128.zip    100%[===================>]   6.66M  14.9MB/s    in 0.4s

2021-11-01 21:32:37 (14.9 MB/s) - ‘data/coco128.zip’ saved [6984509/6984509]

In [2]:
path_to_annotations = "data/coco128/labels/train2017/"

#Identify the path to get from the annotations to the images 
path_to_images = "../../images/train2017/"

#Import the dataset into the pylable schema 
#Class names are defined here https://github.com/ultralytics/yolov5/blob/master/data/coco128.yaml
yoloclasses = ['person', 'bicycle', 'car', 'motorcycle', 'airplane', 'bus', 'train', 'truck', 'boat', 'traffic light',
        'fire hydrant', 'stop sign', 'parking meter', 'bench', 'bird', 'cat', 'dog', 'horse', 'sheep', 'cow',
        'elephant', 'bear', 'zebra', 'giraffe', 'backpack', 'umbrella', 'handbag', 'tie', 'suitcase', 'frisbee',
        'skis', 'snowboard', 'sports ball', 'kite', 'baseball bat', 'baseball glove', 'skateboard', 'surfboard',
        'tennis racket', 'bottle', 'wine glass', 'cup', 'fork', 'knife', 'spoon', 'bowl', 'banana', 'apple',
        'sandwich', 'orange', 'broccoli', 'carrot', 'hot dog', 'pizza', 'donut', 'cake', 'chair', 'couch',
        'potted plant', 'bed', 'dining table', 'toilet', 'tv', 'laptop', 'mouse', 'remote', 'keyboard', 'cell phone',
        'microwave', 'oven', 'toaster', 'sink', 'refrigerator', 'book', 'clock', 'vase', 'scissors', 'teddy bear',
        'hair drier', 'toothbrush']
dataset = importer.ImportYoloV5(path=path_to_annotations, path_to_images=path_to_images, cat_names=yoloclasses,
    img_ext="jpg", name="coco128")

dataset.df.head()
#dataset.df.loc[:, dataset.df.columns.str.startswith('ann')]

,img_folder,img_filename,img_path,img_id,img_width,img_height,img_depth,ann_segmented,ann_bbox_xmin,ann_bbox_ymin,...,ann_area,ann_segmentation,ann_iscrowd,ann_pose,ann_truncated,ann_difficult,cat_id,cat_name,cat_supercategory,split
id,,,,,,,,,,,,,,,,,,,,,
0,../../images/train2017/,000000000260.jpg,NaN,0,500,333,3,NaN,2.26,93.770136,...,10440.859209,NaN,NaN,NaN,NaN,NaN,5,bus,NaN,NaN
1,../../images/train2017/,000000000260.jpg,NaN,0,500,333,3,NaN,261.00,139.880147,...,8771.624845,NaN,NaN,NaN,NaN,NaN,0,person,NaN,NaN
2,../../images/train2017/,000000000260.jpg,NaN,0,500,333,3,NaN,17.29,142.160031,...,659.212388,NaN,NaN,NaN,NaN,NaN,0,person,NaN,NaN
3,../../images/train2017/,000000000260.jpg,NaN,0,500,333,3,NaN,238.43,175.250075,...,521.446881,NaN,NaN,NaN,NaN,NaN,2,car,NaN,NaN
4,../../images/train2017/,000000000260.jpg,NaN,0,500,333,3,NaN,332.28,232.160108,...,2681.729003,NaN,NaN,NaN,NaN,NaN,28,suitcase,NaN,NaN

## Analyze annotations
Pylabel can calculate basic summary statisticts about the dataset such as the number of files and the classes. 
The dataset is stored as a pandas frame so the developer can do additional exploratory analysis on the dataset.

In [3]:
print(f"Number of images: {dataset.analyze.num_images}")
print(f"Number of classes: {dataset.analyze.num_classes}")
print(f"Classes:{dataset.analyze.classes}")
print(f"Class counts:\n{dataset.analyze.class_counts}")

Number of images: 126
Number of classes: 71
Classes:['bus' 'person' 'car' 'suitcase' 'knife' 'oven' 'microwave' 'book'
 'cell phone' 'bench' 'tie' 'backpack' 'airplane' 'umbrella' 'handbag'
 'chair' 'skateboard' 'elephant' 'horse' 'potted plant' 'dog' 'bicycle'
 'traffic light' 'bed' 'truck' 'stop sign' 'clock' 'fork' 'pizza'
 'dining table' 'cup' 'refrigerator' 'bowl' 'sink' 'vase' 'baseball glove'
 'frisbee' 'train' 'motorcycle' 'cake' 'sports ball' 'baseball bat'
 'giraffe' 'bear' 'kite' 'boat' 'donut' 'teddy bear' 'tennis racket' 'cat'
 'couch' 'remote' 'snowboard' 'spoon' 'broccoli' 'toothbrush' 'toilet'
 'bottle' 'wine glass' 'scissors' 'zebra' 'carrot' 'orange' 'bird' 'skis'
 'banana' 'sandwich' 'tv' 'laptop' 'mouse' 'hot dog']
Class counts:
person      254
car          46
cup          36
chair        35
book         29
           ...
horse         2
scissors      1
skis          1
banana        1
bear          1
Name: cat_name, Length: 71, dtype: int64

## Edit Annotations
Use the jupyter_bbox_widget to inspect, edit, and save annotations without leaving the Jupyter notebook.

In [4]:
#!pip install jupyter_bbox_widget
from jupyter_bbox_widget import BBoxWidget


def UseBBoxWidget(BBoxWidget, dataset, image):
    import base64
    import ipywidgets as widgets
    from pathlib import PurePath

    widget_output = None

    #Make a dataframe with the annotations for a single image
    img_df = dataset.df.loc[dataset.df['img_filename'] == image]
    img_df_subset = img_df[['cat_name','ann_bbox_height','ann_bbox_width','ann_bbox_xmin','ann_bbox_ymin']]
    #Rename the columns to match the format used by jupyter_bbox_widget
    img_df_subset.columns = ['label', 'height', 'width', 'x', 'y']
    bboxes_dict = img_df_subset.to_dict(orient='records')

    img_folder = img_df.iloc[0]["img_folder"]
    img_filename = img_df.iloc[0]["img_filename"]
    img_path = str(PurePath(dataset.path_to_annotations, img_folder, img_filename))

    def encode_image(filepath):
        with open(filepath, 'rb') as f:
            image_bytes = f.read()
        encoded = str(base64.b64encode(image_bytes), 'utf-8')
        return "data:image/jpg;base64,"+encoded

    def on_submit():
        # save annotations for current image
        import pandas as pd
        global widget_output
        
        widget_output = pd.DataFrame.from_dict(widget.bboxes)
        widget_output.columns = ['cat_name','ann_bbox_height','ann_bbox_width','ann_bbox_xmin','ann_bbox_ymin']
        widget_output["img_filename"] = str(img_filename)
        widget_output["img_filename"] = widget_output["img_filename"].astype('string')
        widget_output["ann_area"] = widget_output["ann_bbox_height"] * widget_output["ann_bbox_width"]

        categories  = dict(zip(dataset.df.cat_name, dataset.df.cat_id))
        widget_output['cat_id'] = widget_output['cat_name'].map(categories)  
        widget_output.index.name = "id"

        metadata = img_df.iloc[0].to_frame().T
        metadata['img_filename'] = metadata['img_filename'].astype("string")
        metadata.drop(['cat_name', 'cat_id', 'ann_area', 'ann_bbox_height', 'ann_bbox_width', 'ann_bbox_xmin', 'ann_bbox_ymin'], axis=1, inplace=True)

        widget_output = widget_output.merge(metadata, left_on='img_filename', right_on='img_filename')
        widget_output = widget_output[dataset.df.columns]
        #Now we have a dataframe with output of the bbox widget 
        #Drop the current annotations for the image and add the the new ones
        dataset.df.drop(dataset.df[dataset.df['img_filename'] == image].index, inplace = True)
        dataset.df = dataset.df.append(widget_output).reset_index() 


        # move on to the next file
        #on_skip()


    widget = BBoxWidget(
        image=encode_image(img_path),
        classes=list(dataset.analyze.classes),
        bboxes=bboxes_dict
    )

    widget.on_submit(on_submit)

    return widget

img_filename = '000000000078.jpg'  
UseBBoxWidget(BBoxWidget, dataset, img_filename)

BBoxWidget(bboxes=[{'label': 'clock', 'height': 235.910088, 'width': 214.13023199999998, 'x': 359.799696, 'y':…

# Instructions 
- Select class 'bird' (bottom row) in the above widget
- Draw a box around the owl 
- Click **Submit**

When you click submit the annotations for that image are updated. Run the cell below to verify that there are now 2 annotations for that image. 

You can repeat the steps to add and view additional bounding boxes.

In [6]:
dataset.df.loc[dataset.df['img_filename'] == img_filename]

,index,img_folder,img_filename,img_path,img_id,img_width,img_height,img_depth,ann_segmented,ann_bbox_xmin,...,ann_area,ann_segmentation,ann_iscrowd,ann_pose,ann_truncated,ann_difficult,cat_id,cat_name,cat_supercategory,split
928,0,../../images/train2017/,000000000078.jpg,NaN,119,612,612,3,NaN,359.799696,...,50515.481875,NaN,NaN,NaN,NaN,NaN,74,clock,NaN,NaN
929,1,../../images/train2017/,000000000078.jpg,NaN,119,612,612,3,NaN,34.000000,...,54285.000000,NaN,NaN,NaN,NaN,NaN,14,bird,NaN,NaN
930,2,../../images/train2017/,000000000078.jpg,NaN,119,612,612,3,NaN,437.000000,...,14280.000000,NaN,NaN,NaN,NaN,NaN,46,banana,NaN,NaN

In [7]:
#Export the annotations in Yolo format
dataset.path_to_annotations = 'data/coco128/labels/newlabels/'
os.makedirs(dataset.path_to_annotations, exist_ok=True)
dataset.export.ExportToYoloV5()

#View the Yolo annotations for the above image
!cat data/coco128/labels/newlabels/../../images/train2017/000000000078.txt

74 0.762851 0.196119 0.349886 0.385474
14 0.24428104575163398 0.7785947712418301 0.37745098039215685 0.3839869281045752
46 0.7630718954248366 0.6225490196078431 0.09803921568627451 0.3888888888888889

In [46]:
dataset.df.dtypes

img_folder            object
img_filename          object
img_path              object
img_id                 int64
img_width              int64
img_height             int64
img_depth              int64
ann_segmented         object
ann_bbox_xmin        float64
ann_bbox_ymin        float64
ann_bbox_xmax        float64
ann_bbox_ymax        float64
ann_bbox_width       float64
ann_bbox_height      float64
ann_area             float64
ann_segmentation      object
ann_iscrowd           object
ann_pose              object
ann_truncated         object
ann_difficult         object
cat_id                object
cat_name              object
cat_supercategory     object
split                 object
dtype: object