# Annotate images in a Jupyter notebook and save them in  Yolo format
This notebook is a proof of concept using the [jupyter-bbox-widget](https://github.com/gereleth/jupyter-bbox-widget) and PyLabel to created an interactive image labeling tool. Use it to read, edit, and save bounding box annotations to and from multiple annotation formats including coco, voc, and yolo--all withing a Jupyter notebook.

In [1]:
import logging
logging.getLogger().setLevel(logging.CRITICAL)
!pip install pylabel > /dev/null

In [2]:
from pylabel import importer

## Import Yolo annotations 
First we will import annotations stored in Yolo v5 format.

In [3]:
import os, zipfile

#Download sample yolo dataset 
os.makedirs("data", exist_ok=True)
!wget "https://github.com/ultralytics/yolov5/releases/download/v1.0/coco128.zip" -O data/coco128.zip
with zipfile.ZipFile("data/coco128.zip", 'r') as zip_ref:
   zip_ref.extractall("data")

--2021-11-05 20:34:49--  https://github.com/ultralytics/yolov5/releases/download/v1.0/coco128.zip
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/264818686/7a208a00-e19d-11eb-94cf-5222600cc665?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20211106%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211106T033402Z&X-Amz-Expires=300&X-Amz-Signature=df7b73b41b3336f35f46c6f754ed47b1c4ad59a02169947c0955bc013b0278c6&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=264818686&response-content-disposition=attachment%3B%20filename%3Dcoco128.zip&response-content-type=application%2Foctet-stream [following]
--2021-11-05 20:34:50--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/264818686/7a208a00-e19d-11eb-94cf-5222600cc665?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20211106%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211106T033402Z&X-Amz-Expires=300&X-Amz-Signature=df7b73b41b3336f35f46c6f754ed47b1c4ad59a02169947c0955bc013b0278c6&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=264818686&response-content-disposition=attachment%3B%20filename%3Dcoco128.zip&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6984509 (6.7M) [application/octet-stream]
Saving to: ‘data/coco128.zip’

data/coco128.zip    100%[===================>]   6.66M  15.7MB/s    in 0.4s

2021-11-05 20:34:51 (15.7 MB/s) - ‘data/coco128.zip’ saved [6984509/6984509]

In [4]:
path_to_annotations = "data/coco128/labels/train2017/"

#Identify the path to get from the annotations to the images 
path_to_images = "../../images/train2017/"

#Import the dataset into the pylable schema 
#Class names are defined here https://github.com/ultralytics/yolov5/blob/master/data/coco128.yaml
yoloclasses = ['person', 'bicycle', 'car', 'motorcycle', 'airplane', 'bus', 'train', 'truck', 'boat', 'traffic light',
        'fire hydrant', 'stop sign', 'parking meter', 'bench', 'bird', 'cat', 'dog', 'horse', 'sheep', 'cow',
        'elephant', 'bear', 'zebra', 'giraffe', 'backpack', 'umbrella', 'handbag', 'tie', 'suitcase', 'frisbee',
        'skis', 'snowboard', 'sports ball', 'kite', 'baseball bat', 'baseball glove', 'skateboard', 'surfboard',
        'tennis racket', 'bottle', 'wine glass', 'cup', 'fork', 'knife', 'spoon', 'bowl', 'banana', 'apple',
        'sandwich', 'orange', 'broccoli', 'carrot', 'hot dog', 'pizza', 'donut', 'cake', 'chair', 'couch',
        'potted plant', 'bed', 'dining table', 'toilet', 'tv', 'laptop', 'mouse', 'remote', 'keyboard', 'cell phone',
        'microwave', 'oven', 'toaster', 'sink', 'refrigerator', 'book', 'clock', 'vase', 'scissors', 'teddy bear',
        'hair drier', 'toothbrush']
dataset = importer.ImportYoloV5(path=path_to_annotations, path_to_images=path_to_images, cat_names=yoloclasses,
    img_ext="jpg", name="coco128")

dataset.df.head()
#dataset.df.loc[:, dataset.df.columns.str.startswith('ann')]

,img_folder,img_filename,img_path,img_id,img_width,img_height,img_depth,ann_segmented,ann_bbox_xmin,ann_bbox_ymin,...,ann_area,ann_segmentation,ann_iscrowd,ann_pose,ann_truncated,ann_difficult,cat_id,cat_name,cat_supercategory,split
id,,,,,,,,,,,,,,,,,,,,,
0,../../images/train2017/,000000000260.jpg,NaN,0,500,333,3,NaN,2.26,93.770136,...,10440.859209,NaN,NaN,NaN,NaN,NaN,5,bus,NaN,NaN
1,../../images/train2017/,000000000260.jpg,NaN,0,500,333,3,NaN,261.00,139.880147,...,8771.624845,NaN,NaN,NaN,NaN,NaN,0,person,NaN,NaN
2,../../images/train2017/,000000000260.jpg,NaN,0,500,333,3,NaN,17.29,142.160031,...,659.212388,NaN,NaN,NaN,NaN,NaN,0,person,NaN,NaN
3,../../images/train2017/,000000000260.jpg,NaN,0,500,333,3,NaN,238.43,175.250075,...,521.446881,NaN,NaN,NaN,NaN,NaN,2,car,NaN,NaN
4,../../images/train2017/,000000000260.jpg,NaN,0,500,333,3,NaN,332.28,232.160108,...,2681.729003,NaN,NaN,NaN,NaN,NaN,28,suitcase,NaN,NaN

## Edit Annotations
Use the jupyter_bbox_widget to inspect, edit, and save annotations without leaving the Jupyter notebook.

In [5]:



img_filename = '000000000078.jpg'  
dataset.labeler.UseBBoxWidget(image=img_filename)

VBox(children=(IntProgress(value=119, description='Progress', max=126), BBoxWidget(bboxes=[{'label': 'clock', …

# Instructions 
- Select class 'bird' in the above widget
- Draw a box around the owl 
- Click **Submit**

When you click submit the annotations for that image are updated. Run the cell below to verify that there are now 2 annotations for that image. 

You can repeat the steps to add and view additional bounding boxes.

In [8]:
dataset.df.loc[dataset.df['img_filename'] == img_filename]

,img_folder,img_filename,img_path,img_id,img_width,img_height,img_depth,ann_segmented,ann_bbox_xmin,ann_bbox_ymin,...,ann_area,ann_segmentation,ann_iscrowd,ann_pose,ann_truncated,ann_difficult,cat_id,cat_name,cat_supercategory,split
928,../../images/train2017/,000000000078.jpg,NaN,119,612,612,3,NaN,359.799696,2.069784,...,50515.481875,NaN,NaN,NaN,NaN,NaN,74,clock,NaN,NaN

In [9]:
#Export the annotations in Yolo format
dataset.path_to_annotations = 'data/coco128/labels/newlabels/'
os.makedirs(dataset.path_to_annotations, exist_ok=True)
dataset.export.ExportToYoloV5()

#View the Yolo annotations for the above image
!cat data/coco128/labels/newlabels/../../images/train2017/000000000078.txt

74 0.762851 0.196119 0.349886 0.385474